@font-face {
  font-family: "open-sans-light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.noselectmenu {
  height: 100%;
  text-align: center;
}
.noselectmenu h2 {
  color: #e8e6e8;
  text-shadow: 2px 2px #000;
}
.content-area {
  /*padding: 20px 30px;*/
  height: calc(100% - 200px);
}
.icon-area {
  font-size: 50px;
  height: 80px;
  text-align: center;
  width: 70px;
  margin-left: 20px
}
.content-title h2 {
  margin-top: 13px;
  font-size: 22px;
  margin-bottom: -15px;
}
.divider {
  clear: both;
  border: 1px solid #e2e2e2;
  width: 100%;
  border-width: 0 0 1px 0;
}
.template-form {
  width: 50%;
  padding: 20px 30px;
}
.settings-category {
  color: #c5c5c5;
  margin-top: 0px;
}
.stock-table {
  width: 60%;
}
.stock-management {
  width:40%;
  padding: 20px;
}
.btn-primary .icon, .btn-positive .icon {
  color: #fff;
}
/*.tab-group {
  position: fixed;
  height: 25px;
  width: 100%;
}
.custom-invoice-pane tr:first-child {
  margin-top: 25px;
  position: fixed;
  width: 100%;
  display: inherit;
}
.custom-invoice-pane tr:nth-child(2) {
  margin-top: 50px;
}*/
.data-content {
  height: 60%;
  width: 100%;
}
.tab-content {
  width:100%;
  max-height: inherit;
}
.custom-invoice-pane {
  padding: 1px 0px;
  font-size: 20px;
  padding-bottom: 222px;
}
.total-content {
  bottom: 22px;
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-top-color: #f3f3f3;
}
.addnewrow {
  background-color: cornsilk !important;
}
.addnewrow td {
  font-size: 15px;
  padding: 11px;
  text-align: center;
}
.currentrow {
  color: #fff;
  background-color: #116cd6 !important;
}
tr:active {
  color: inherit;
  background-color: inherit;
}
.removerow {
  color: red;
}
.empty-invoice-container {
  padding: 30px;
  text-align: center;
  font-family: 'open-sans-light';
}
.center-empty-icon {
  margin-top: 100px;
}
.empty-invoice-container h1 {
  font-size: 30px;
}
.empty-invoice-container p {
  font-size: 15px;
}
.transparent-btn {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
}
.transparent-btn:focus {
  outline: none;
}
/*.Select-menu-outer {
  z-index: 999 !important;
  position: relative;
}*/
/*.Select.is-open { position: relative; z-index: 1000; }*/
.Select-menu {
    position: fixed !important;
}
.Select {
    width: 222px !important;
    z-index: 0 !important;
}

.Select.is-open {
	z-index: 1 !important;
  background-color: #fff;
}

.Select-menu {
    position: fixed !important;
    width: 220px !important;
    background-color: #fdfdfd;
    margin: 1px;
    border: 1px #a5a3a5 solid;
    border-color: #a5a3a5 !important;
}
.Select-menu-outer {
  opacity: 1 !important;
}
.Select-option {
  z-index: 2 !important;
  background-color: #fff;
}
.Select-option.is-focused {
  background-color: rgba(0,126,255,1) !important;
  color: #fff;
}
.Select-option.is-selected {
  background-color: rgb(211, 233, 255);
}
.total-content {
  padding: 0px 20px;
  width: calc(100% - 152px);
  text-align: right;
}
.text-right-align {
  text-align: right;
}
.table-area {
  overflow-y: auto;
}
.total-sm text, .total-lg text {
  padding: 0px;
}
.total-sm span {
  font-size: 18px;
  padding-right: 5px;
  text-align: right;
  clear: both;
}
.total-md {
  font-size: 30px;
}
.total-lg span {
  font-size: 40px;
  padding-right: 5px;
  text-align: right;
  clear: both;
  font-weight: bold;
  color: #256f01;
}
.total-table {
  float: right;
  width: 100px;
}
.total-rf-table {
  clear:both;
  float: right;
  width: 100px;
}
.total-table tr {
  width: 100px;
}
.total-table tr td {
  text-align: right;
  padding: 0px 10px;
}
.bill-btn {
  width: 75px;
  font-weight: bold;
  margin-top: 5px;
}
.toolbar-actions-custom {
  padding: 10px;
}
.filter-controls {
  background-color: #cccccc;
  padding: 2px;
  border-radius: 5px;
}
.filter-controls input[type="text"] {
  width: 90px;
  float: left;
  height: 20px;
  margin-right: 5px;
}
.history-controls {
  width: 150px;
  text-align:center;
}
.history-controls .btn-primary .icon, .pagination .btn-primary .icon {
  color: #fff;
}
.or-text {
    color: #756f6f;
    font-size: 11px;
    padding: 0px 5px;
}
.date-range-picker .or-text {
  float: left;
  padding-top: 5px;
}
.date-range-picker > div {
  float: left;
}
.date-range-picker {
  float: right;
  background-color: #cccccc;
  padding: 2px;
  border-radius: 5px;
}
.date-range-picker input[type="text"] {
  width: 90px;
  height: 20px;
}
.pagination {
  float: right;
  margin-left: 10px;
  background-color: #cccccc;
  padding: 2px;
  border-radius: 5px;
}
.fixed-height {
  background-color: red;
  height: 300px;
}
.history-area {
  width: 600px;
  float: left;
}
.history-table thead tr th:nth-child(1){
  width: 30px;
}
.pull-left {
  float: left;
}
.filter-controls {
  margin-right: 5px;
}
.invisible {
  visibility: hidden;
}
.btn-container {
  background-color: #cccccc;
  padding: 2px;
  border-radius: 5px;
  margin-right: 5px;
}
.highlight-row {
  background-color: #116cd6 !important;
  color: #fff;
}
.bill-area {
  background-color: #f5f5f5;
  width: calc(100% - 601px);
  position: absolute;
  float: right;
  right: 0px;
  height: calc(100% - 81px);
  padding: 40px;
}
.invoice-page {
  background-color: #fff;
  min-height: 200px;
  width: 100%;
  font-family: 'courier new';
  border: 1px solid #000;
}
.invoice-page table {
  table-layout: fixed;
}
.invoice-product-name {
  max-width: 150px;
  white-space: normal !important;
}
.invoice-page section table tbody tr td, .invoice-page section table tfoot tr td {
  overflow: visible;
  word-wrap: break-word;
}
.invoice-page header {
  text-align: center;
}
.invoice-page section table thead tr th, .invoice-page section table tbody tr td {
  font-size: 12px;
}
.invoice-page section table tfoot tr td {
  font-size: 12px;
}
.invoice-page section table thead {
  background-color: #fff;
}
.invoice-page section table thead tr th {
  border-right: 0px solid #fff;
  border-bottom: 1px dashed #000;
}
.invoice-product-code {
  width: 60px;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
.grand-total-section {
  width: 100%;
  border-style: dashed;
  border-width: 1px 0 1px 0;
  border-color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
.footer-section-sm {
  width:20%;
  padding: 10px;
}
.footer-section-lg {
  width: 60%;
}
footer {
  clear: both;
}
.clearfix {
  clear: both;
}
.footer p {
  padding: 0px;
}
.date-time-bill {
  padding-left: 15px;
}
.hide {
  display: none;
}
.api-page-cont {
  width: 60%;
}
.capitalize {
  text-transform: capitalize;
}
.api-status .icon {
  color: red;
}
.api-status .green-status {
  color: green;
}
.sample-invoice {
  width: 10.41cm;
  margin-right: 40px;
}
.templ-drop {
  width: 40%;
  float: left;
  margin-right: 20px;
}
.templ-drop select {
  height: 32px;
}
.templ-font {
  width: 100px;
  float: left;
  margin-right: 20px;
}
.templ-font button {
  padding: 0px;
  margin-top: 9px;
}
.templ-font button .icon {
  color: #fff;
}
.templ-custom-txt {
  float: left;
  width: 60%;
  margin-right: 20px;
}
.about {
  padding: 30px;
  font-size: 15px;
}
.template-print-conv {
  width: 10.41cm;
}
.template-print-conv .invoice-page {
  min-height: 200px;
  width: 10.41cm;
  font-family: 'courier new';
  border: 1px solid #000;
}
.template-print-conv .grand-total-section {
  font-size: 20px;
}
.template-print-conv .print-templ-btn {
  display: none;
}
.template-print-conv .invoice-page section table thead tr th, .invoice-page section table tbody tr td {
  font-size: 10px;
}
.template-print-conv .invoice-page section table tfoot tr td {
  font-size: 10px;
}
.template-print-conv .invoice-product-code {
  width: 54px;
}
.template-print-conv .invoice-product-name {
  max-width: 156px;
}
.template-print-conv .invoice-page footer p {
  font-size: 10px;
}
.template-print-conv .invoice-page table tr td, .invoice-page table tr th {
  padding: 2px 5px;
}
.noselectmenu {
  width: 100%;
  height: 100% !important;
  position: absolute;
  background: url(../img/invoice-bg.jpg);
  background-size: cover;
}
@media print {
  .toolbar-footer, .page-card, .history-area, .nav-group, .tab-group, .table-area, .total-table tr td[class^="total-"], .total-table tr td .bill-btn {
    display: none;
  }
  .total-table tr td {
    text-align: left;
  }
  .right-align {
    text-align: right !important;
  }
  .total-content {
    bottom: auto;
    top: 0;
    padding: 0px;
  }
  .total-table tr td {
    padding: 0px;
  }
  .invoice-page {
    display: block;
  }
  .total-table {
    float: left;
    width: 100%;
  }
  .bill-area {
    width: 100%;
    padding: 0px;
  }
  .invoice-page {
    min-height: 200px;
    width: 10.41cm;
    font-family: 'courier new';
    border: 0px solid #000;
  }
  .pane {
    border-left: 0px solid #ddd;
  }
  .grand-total-section {
    font-size: 20px;
  }
  .print-templ-btn {
    display: none;
  }
  .invoice-page section table thead tr th, .invoice-page section table tbody tr td {
    font-size: 10px;
  }
  .invoice-page section table tfoot tr td {
    font-size: 10px;
  }
  .invoice-product-code {
    width: 54px;
  }
  .invoice-product-name {
    max-width: 156px;
  }
  .invoice-page footer p {
    font-size: 10px;
  }
  .invoice-page table tr td, .invoice-page table tr th {
    padding: 2px 5px;
  }
  @page {
    margin: 0;
    padding: 0;
    width:  10.41cm;
  }
}
