@font-face {
  font-family: "open-sans-light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.noselectmenu {
  height: 100%;
  text-align: center;
}
.noselectmenu h2 {
  color: #e8e6e8;
}
.content-area {
  /*padding: 20px 30px;*/
  height: calc(100% - 200px);
}
.icon-area {
  font-size: 50px;
  height: 80px;
  text-align: center;
  width: 70px;
  margin-left: 20px
}
.content-title h2 {
  margin-top: 13px;
  font-size: 22px;
  margin-bottom: -15px;
}
.divider {
  clear: both;
  border: 1px solid #e2e2e2;
  width: 100%;
  border-width: 0 0 1px 0;
}
.template-form {
  width: 45%;
  padding: 20px 30px;
}
.settings-category {
  color: #c5c5c5;
  margin-top: 0px;
}
.stock-table {
  width: 60%;
}
.stock-management {
  width:40%;
  padding: 20px;
}
/*.tab-group {
  position: fixed;
  height: 25px;
  width: 100%;
}
.custom-invoice-pane tr:first-child {
  margin-top: 25px;
  position: fixed;
  width: 100%;
  display: inherit;
}
.custom-invoice-pane tr:nth-child(2) {
  margin-top: 50px;
}*/
.data-content {
  height: 60%;
  width: 100%;
}
.tab-content {
  width:100%;
  max-height: inherit;
}
.custom-invoice-pane {
  padding: 1px 0px;
  font-size: 20px;
  padding-bottom: 222px;
}
.total-content {
  bottom: 22px;
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-top-color: #f3f3f3;
}
.addnewrow {
  background-color: cornsilk !important;
}
.addnewrow td {
  font-size: 15px;
  padding: 11px;
  text-align: center;
}
.currentrow {
  color: #fff;
  background-color: #116cd6 !important;
}
tr:active {
  color: inherit;
  background-color: inherit;
}
.removerow {
  color: red;
}
.empty-invoice-container {
  padding: 30px;
  text-align: center;
  font-family: 'open-sans-light';
}
.center-empty-icon {
  margin-top: 100px;
}
.empty-invoice-container h1 {
  font-size: 30px;
}
.empty-invoice-container p {
  font-size: 15px;
}
.transparent-btn {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
}
.transparent-btn:focus {
  outline: none;
}
/*.Select-menu-outer {
  z-index: 999 !important;
  position: relative;
}*/
/*.Select.is-open { position: relative; z-index: 1000; }*/
.Select-menu {
    position: fixed !important;
}
.Select {
    width: 222px !important;
    z-index: 0 !important;
}

.Select.is-open {
	z-index: 1 !important;
  background-color: #fff;
}

.Select-menu {
    position: fixed !important;
    width: 220px !important;
    background-color: #fdfdfd;
    margin: 1px;
    border: 1px #a5a3a5 solid;
    border-color: #a5a3a5 !important;
}
.Select-menu-outer {
  opacity: 1 !important;
}
.Select-option {
  z-index: 2 !important;
  background-color: #fff;
}
.Select-option.is-focused {
  background-color: rgba(0,126,255,1) !important;
  color: #fff;
}
.Select-option.is-selected {
  background-color: rgb(211, 233, 255);
}
.total-content {
  padding: 0px 20px;
  width: calc(100% - 152px);
  text-align: right;
}
.text-right-align {
  text-align: right;
}
.table-area {
  overflow-y: auto;
}
.total-sm text, .total-lg text {
  padding: 0px;
}
.total-sm span {
  font-size: 18px;
  padding-right: 5px;
  text-align: right;
  clear: both;
}
.total-md {
  font-size: 30px;
}
.total-lg span {
  font-size: 40px;
  padding-right: 5px;
  text-align: right;
  clear: both;
  font-weight: bold;
  color: #256f01;
}
.total-table {
  float: right;
  width: 100px;
}
.total-rf-table {
  clear:both;
  float: right;
  width: 100px;
}
.total-table tr {
  width: 100px;
}
.total-table tr td {
  text-align: right;
  padding: 0px 10px;
}
.bill-btn {
  width: 75px;
  font-weight: bold;
  margin-top: 5px;
}
.toolbar-actions-custom {
  padding: 10px;
}
.filter-controls input[type="text"] {
  width: 90px;
  float: left;
  height: 20px;
}
.history-controls {
  width: 150px;
  text-align:center;
}
.history-controls .btn .icon {
  color: #fff;
}
.or-text {
    color: #756f6f;
    font-size: 11px;
    padding: 0px 11px;
}
.date-range-picker .or-text {
  float: left;
  padding-top: 5px;
}
.date-range-picker > div {
  float: left;
}
.date-range-picker {
  float: right;
}
.date-range-picker input[type="text"] {
  width: 90px;
  height: 20px;
}
.pagination {
  float: right;
  margin-left: 10px;
}
.fixed-height {
  background-color: red;
  height: 300px;
}
.history-area {
  width: 700px;
  float: left;
}
