.noselectmenu {
  height: 100%;
  text-align: center;
}
.noselectmenu h2 {
  color: #e8e6e8;
}
.content-area {
  /*padding: 20px 30px;*/
}
.icon-area {
  font-size: 50px;
  height: 80px;
  text-align: center;
  width: 70px;
  margin-left: 20px
}
.content-title h2 {
  margin-top: 13px;
  font-size: 22px;
  margin-bottom: -15px;
}
.divider {
  clear: both;
  border: 1px solid #e2e2e2;
  width: 100%;
  border-width: 0 0 1px 0;
}
.template-form {
  width: 45%;
  padding: 20px 30px;
}
.settings-category {
  color: #c5c5c5;
  margin-top: 0px;
}
.stock-table {
  width: 60%;
}
.stock-management {
  width:40%;
  padding: 20px;
}
